@CHARSET "UTF-8";

/* blue Revostock styling */


.revostock-mediagallery-item {
	background: #819DB1;
	
	 
	border-width: 5px;
	border-style:   ridge;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-top: 10px;
} 




.revostock-mediagallery-item-title div {
	color: #E8E8EC;
    font-family: Tahoma,,arial,sans-serif;
    font-size: 12px;
	line-height:100%;
	padding-left: 5px;
	
	width: 100%;
	
}

.revostock-mediagallery-item-producer div {
    
	color: #506E88;
	font-family: Tahoma,,arial,sans-serif;
    font-size: 11px;
	padding-left: 5px;
	width: 100%;
}


 
.revostock-mediagallery-item-asset-specifics {
	color: #506E88;
   	font-family: Tahoma,,arial,sans-serif;
    font-size: 11px;
} 

.revostock-mediagallery-item-content-type {
				
}
.revostock-mediagallery-play-icon {
	padding-left: 5px;
}